.product {
	&__row {
		display: flex;
		justify-content: center;
		column-gap: 2.25rem;
		margin-top: 1.25rem;
	}
	&__center {
		display: flex;
		flex-direction: column;
		gap: 18px;
	}
	&__slide {
		width: 55%;
	}
	&__info {
		width: 45%;
	}
	&__title {
		font-weight: 500;
		font-size: 31px;
		text-transform: uppercase;
		color: var(--light);
		line-height: 38px;
	}
	&__category {
		font-weight: 300;
		font-size: 20px;
		text-transform: capitalize;
		color: var(--grey);
	}
	&__price {
		font-weight: 500;
		letter-spacing: 0.045em;
		color: #0f303f;
		margin: 6px 0 20px;
		display: flex;
		gap: 9px;
		p {
			font-size: 24px;
		}
	}

	&__size,
	&__color {
		&-title {
			font-weight: 400;
			font-size: 12px;
			color: var(--light);
			display: flex;
		}
		&-list {
			display: flex;
			flex-wrap: wrap;
			gap: 10px;
			margin-top: 6px;
		}
		&-item {
			// width: 35px;
			padding: 0.4375rem;
			height: 35px;
			border: 1px solid #eae9e8;
			font-weight: 400;
			font-size: 12px;
			color: var(--light);
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			&:hover {
				border: 1px solid #0f303f;
			}
		}
	}

	
	&__btns {
		margin-top: 20px;
		display: flex;
		gap: 20px;
		flex-direction: column;
	}
	&__btn {
		text-align: center;
		width: 280px;
		padding: 14px 21px;
		border: 1px solid #1e617f;
		background: transparent;
		font-weight: 500;
		font-size: 16px;
		text-transform: uppercase;
		color: #1e617f;
		cursor: pointer;
		transition: all 0.2s ease-in;
		&:hover {
			background: #0f303f;
			color: #eae9e8;
		}
	}
}

.mySwiper2 {
	width: 427.94px;
	height: 520px;
	margin-bottom: 15px;
}

.mySwiper {
	width: 427.94px;
	height: 20%;
	box-sizing: border-box;
	padding: 10px 0;
}

.mySwiper .swiper-slide {
	width: 25%;
	height: 100%;
	opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
	opacity: 1;
}

.product__slide-img {
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
	object-fit: cover;
}
@media only screen and (max-width: 992px) {
	.product {
		&__title {
			font-size: 26px;
			line-height: 28px;
		}
		&__category {
			font-size: 18px;
		}
	}
}
@media only screen and (max-width: 830px) {
	.mySwiper2,
	.mySwiper {
		width: 357.94px;
	}
}

@media only screen and (min-width: 768px) {
	.mySwiper3 {
		display: none !important;
	}
	.product__text {
		display: none;
	}
}

@media only screen and (max-width: 768px) {
	.product {
		&__row {
			flex-direction: column;
		}
		&__slide {
			width: 100%;
		}
		&__price {
			margin: 0;
		}
	}

	.product__text {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 20px;
	}
	.product__info {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px 0;
		gap: 15px;
		&-text {
			display: none;
		}
	}
	.product__color-title,
	.product__size-title {
		font-size: 20px;
	}
	.mySwiper3 {
		height: 500px;
	}
	.mySwiper2,
	.mySwiper {
		display: none !important;
	}
	.swiper-slide {
		min-width: 420px;
	}
}
@media only screen and (max-width: 555px) {
	.swiper-slide {
		min-width: 220px;
	}
	.mySwiper3 {
		height: 370px;
	}
	.product {
		&__title {
			font-size: 18px;
			line-height: 23px;
		}
		&__text {
			gap: 10px;
		}
	}
}
@media only screen and (max-width: 375px) {
	.swiper-slide {
		min-width: 160px;
	}
	.mySwiper3 {
		height: 300px;
	}
}
